@import "../../../../assets/styles/scss/variable.scss";
.content-wrapper {
  width: 552px;
  text-align: center;
  margin: 0 auto;
  padding: 80px 0;
  .login-wrapper {
    margin-top: 66px;
    .login-form {
    }

    .button-section {
      margin-top: 50px;
    }
  }
}
.key-icon{
  margin-top: 25px;
  height: 7vh;
}

.container{
    margin-top: 6rem;
    background: white;
    height: 40vh;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}