<div class="container user-form">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="text-center">
            <div>
                <img src="{{appConfig.imgSrc.generic}}/key-solid.svg" alt="" class="key-icon"> </div>
            <h3 class="page-heading mt-4">Reset your Password</h3>
            <div class="m-4">
                <form formGroup="resetForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <input type="password" class="form-control userInput" placeholder="New Password"
                            formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && resetForm.controls['password'].errors}">
                        <div *ngIf="submitted && resetForm.controls['password'].errors" class="invalid-feedback">
                            <div *ngIf="resetForm.controls['password'].errors.required">Password is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control userInput" placeholder="Confirm Password"
                            formControlName="confirmPassword"
                            [ngClass]="{ 'is-invalid': submitted && resetForm.controls['confirmPassword'].errors}">
                        <div *ngIf="submitted && resetForm.controls['confirmPassword'].errors" class="invalid-feedback">
                            <div *ngIf="resetForm.controls['confirmPassword'].errors.required">Please Confirm Password
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <app-button (routingTo)="routeToOTP($event)" [buttonText]="buttonText"></app-button> -->
                        <button type="submit" class="btn btn-primary" [routerLink]="['/auth/login']">Change
                            Password</button>
                    </div>
                </form>
            </div>
            <!-- <div class="">Already a member? <a [routerLink]="['/auth/login']">Sign In</a></div> -->
        </div>
    </div>