<div class="modal-body">
    <div class="text-center">
        <h3 class="page-heading pb-2">Share with Others</h3>
        <div class="small-text pb-1">Sharing is subject to license restrictions.</div>
        <div>
            <div><input type="email" class="px-3 url-input w-100" placeholder="Enter Email ID">
            </div>
            <div class="d-flex mt-2">
                <div class="d-flex align-items-center mr-2"> <input type="checkbox" class="mr-2"> Can Edit</div>
                <div class="d-flex align-items-center mx-2"> <input type="checkbox" class="mr-2"> Can Comment</div>
                <div class="d-flex align-items-center mx-2"> <input type="checkbox" class="mr-2"> Can View</div>
            </div>
        </div>
        <div class="pt-2 text-left">Shared with Vinodh Kirshnamurthy, Shashwathy & 2 others</div>
        <div class="d-flex align-items-center pb-3">
            <div class="mr-3"><a href="javascript:void(0)">Get Sharable Link</a></div>
            <div class="link-icon d-flex align-items-center justify-content-center"><img
                    src="assets/images/icons-choiceboard/link.svg"></div>
                    <div><input type="text" class="form-control"></div>
        </div>
        <div class="d-flex justify-content-center pt-4">
            <div class="mx-2">
                <button type="button" class="btn btn-light" (click)="closeModal()">Cancel</button>
            </div>
            <button type="button" class="btn btn-primary" (click)="closeModal()">Done</button>
        </div>
    </div>
</div>
