@import "../../../../assets/styles/scss/variable.scss";

.otp-wrapper {
  text-align: center;
  margin: 100px auto;
  width: 650px;
}

// .otp-input {
//   border-radius: 10px;
//   box-shadow: $primaryBoxShadow;
//   height: 67px;
//   border: $inputBorder;
//   font-size: $primaryInputLgSize;
//   text-align: center;
// }

.fa-unlock-alt{
    font-size: 145px;   
}

.lock{
  height: 8vh;
}
.container{
  margin-top: 6rem;
  background: white;
  height: 40vh;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}