<div class="container d-flex align-items-center justify-content-center user-form">
    <div class="text-center">
        <div>
           <img src="{{appConfig.imgSrc.generic}}/lock-solid.svg" class="lock" alt="">
        </div>
        <h3 class="page-heading mt-4">Forgot your Password</h3>
        <div class="my-4">
            <form>
                <div class="form-group">
                    <input type="email" placeholder="Type your email" class="form-control text-center w-50 mx-auto">
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-primary" [routerLink]="['/reset-password']">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>