<div class="d-flex align-items-center justify-content-center project-workspace">
    <div class="text-center container">
            <h3 class="page-heading pb-3">Welcome To Your Project Workspace</h3>
            <div class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            <div class="py-5">
                <img src="./assets/images/video-img.png">
            </div>
            <div>
                <button class="btn btn-primary" (click)="goToSetup()">SET UP YOUR WORKSPACE</button>
            </div>
    </div>
</div>
