<div>
    <h3 class="page-heading pb-3 bottom-border">Case Study Name</h3>
    <div class="w-75">
        <div class="d-flex p-2">
            <div class="form-group col-6 pl-0">
                <div class="page-heading ">Case Study Group</div>
                <input type="text" class="form-control" placeholder="Case Study Group Name">
            </div>
            <div class="col-5">
                <div class="page-heading">Learning Journey</div>
                <div>
                    <select class="form-control">
                        <option class="d-none" disabled>Select Journey</option>
                        <option>Knowing</option>
                        <option>Creating</option>
                        <option>Doing</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="p-2">
            <div class="page-heading pb-2">Background Information</div>
            <div class="info-text p-3">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua.
            </div>
        </div>

        <div class="p-2">
            <div class="page-heading pb-2">Detailed Case Information</div>
            <div class="info-text p-3">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua.
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 px-2">
            <div class="d-flex align-items-center info-text p-2">
                <img src="./assets/images/icons-choiceboard/link.svg" width="18px" height="18px">
                <a href="javascript:void(0)" class="mx-3">wwww.thisiskafee.com</a>
            </div>
            <div class="d-flex align-items-center info-text p-2">
                <img src="./assets/images/icons-choiceboard/pdf.png">
                <span class="mx-3">File name</span>
            </div>
        </div>

        <div>
            <app-case-study-challenge></app-case-study-challenge>
        </div>

        <div class="p-2">
            <div class="page-heading pb-2">Learning</div>
            <div class="info-text p-3">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua.
            </div>
        </div>
    </div>
</div>