<div class="h-100">
    <div class="d-flex h-100">
        <!-- <div>
            <app-nav-bar></app-nav-bar>
        </div> -->
        <div class="w-100" >
            <div class="second-nav">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" [routerLink]="['/workspace/list']"> Value Design 2020</a>
                <span class="breadcrumb-item active"> Sub Moudle 1</span>
              </nav>
              </div>
        <div class="comments-section ">
             <div class="mr-5 pb-5 comment-content ">
               <h3 class="page-heading pt-4 pb-3 bottom-border"  >Comments</h3>
          <div class="comments-section-body"> 
              <div class="d-flex">
                  <div class="profile-img"  style="background-image:url('./assets/images/rafi.jpg')"></div>
               <div class="comment-data"> 
                <div class="heading">Rafi</div>
                 <div>
               <div class="second-nav">
                <nav class="breadcrumb-comment">
                    <a class="breadcrumb-item" [routerLink]="['/workspace/list']"> Value Design 2020     </a>
                    <span class="breadcrumb-item active">Slate 1</span>
                  </nav>
                  </div>
              <div class="comments pt-2">
                    Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen..
              </div>
            </div> 
        </div>
            </div>
            </div>
          <div class="comments-section-body"> 
              <div class="d-flex">
                  <div class="profile-img"  style="background-image:url('./assets/images/rohan.jpg')"></div>
               <div class="comment-data"> 
                <div class="heading">Rohan</div>
                 <div>
               <div class="second-nav">
                <nav class="breadcrumb-comment">
                    <a class="breadcrumb-item" [routerLink]="['/workspace/list']">Value Design 2020
                        </a>
                    <span class="breadcrumb-item active"> Slate 2</span>
                  </nav>
                  </div>
              <div class="comments pt-2">
                    Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen, Lorem ipsum dolar sit amen..
              </div>
            </div> 
        </div>
            </div>
            </div>
               <div class="d-flex align-items-center pt-5 justify-content-end">
                <div class="space"><button class="btn btn-light" (click)="RouteTo()">BACK</button></div>
                <div class="space"><button class="btn btn-primary">Add Comment</button></div>
                <!-- <div><button class="btn btn-light">Mark As Done</button> -->
              </div>
              </div>
    </div>
</div>
</div>
</div>