<div class="modal-header justify-content-center align-items-center">
    <h4 class="page-heading">Publish Choiceboard</h4>
</div>
<div class="modal-body">
    <div class="text-center">
        <div class="ft-16 pb-2">By publishing this Choiceboard it will become instantly visible to others. Are you sure
            you want to continue?</div>
        <div class="d-flex justify-content-center pt-4">

            <button type="button" class="btn btn-light mx-2" (click)="closeModal()">Cancel</button>

            <button type="button" class="btn btn-primary" (click)="onPublish()">Yes</button>
        </div>
    </div>
</div>