@import "../../../../assets/styles/scss/variable.scss";

.otp-wrapper {
  text-align: center;
  margin: 100px auto;
  width: 650px;
}

// .otp-input {
//   border-radius: 10px;
//   box-shadow: $primaryBoxShadow;
//   height: 67px;
//   border: $inputBorder;
//   font-size: $primaryInputLgSize;
//   text-align: center;
// }
